.acf-column {
	float: left;
}

.acf-column.column-layout-1_3 {
	width: 33.33333%;
}

.acf-column.column-layout-2_3 {
	width: 66.66666%;
}

.acf-column.column-layout-1_2 {
	width: 50%;
}

.acf-column.column-layout-1_4 {
	width: 25%;
}
.acf-column.column-layout-3_4 {
	width: 75%;
}

.acf-column .column-pad {
	margin: 10px;
	border: 1px solid #DFDFDF;
	border-radius: 7px;
	background: #F3F3F3;
}

.acf-column-reset {
	float: none;
	clear: both;
	display: block;
}

.acf-column-reset .column-pad {
	padding: none;
}

.acf-column.acf-tab_group-show .acf-tab_group-hide {
	display: block;
}